<header class="bg-white shadow p-4 flex justify-between items-center">
    <h1 class="text-xl font-bold">Thaparmegle💕</h1>
    <div class="information">
        Connnecting..........
    </div>
    <button id="video-call-btn" class="videocall bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 hidden">Video
        Call</button>
</header>